@import "tailwindcss";

@theme {
  --color-brand-blue: #3b82f6;
  --color-brand-purple: #8b5cf6;
}

@variant dark (&:where(.dark, .dark *));

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light;
}

:root.dark {
  color-scheme: dark;
}

body {
  margin: 0;
  min-width: 100%;
  min-height: 100vh;
  background-color: white;
  color: black;
}

.dark body {
  background-color: #0a0a0a;
  color: white;
}



